<div class="careers container">
  <p class="font-text path"><a routerLink="/">Homepage /</a> Careers</p>
  <div [@fadeIn] class="careers__info">
    <div class="careers__img">
      <img src="https://d3t95n9c6zzriw.cloudfront.net/aboutus/blogGrid@2x.jpg" alt="Careers">
    </div>
    <div>
      <h2 class="title_bold">Why Sell on Art Store</h2>
      <h3>
        Fair, Transparent, and Easy
      </h3>
      <p>
        Choose how and when you get paid. We offer secure payments by check, wire transfer or PayPal. Our support
        specialists ensure our artists and collectors are financially protected on every sale.
      </p>
      <h3>
        Get Featured by Art Store
      </h3>
      <p>
        Our commission is reinvested into giving you as much exposure as possible. These are just some of the ways we
        promote our artists every day:
      </p>
      <h3>
        Powerful tools, and a passionate team
      </h3>
      <p>
        Spend less time managing logistics and more time making art.
        Painless Shipping: When you sell your art with Art Store, shipping is paid for by the collector and is handled
        by our specialists, saving you time and money — you only pack the work and pay for the packaging materials.
      </p>
    </div>
  </div>
</div>
