<div class="filters">
  <div class="filters__buttons">
    <div class="font-text-large filters__buttons-radio">
      <div class="filters__button-radio">
        <input class="buttons-radio-input" type="radio" id="radioFirst" name="radio">
        <label for="radioFirst">Filter text</label>
      </div>
      <div class="filters__button-radio">
        <input class="buttons-radio-input" type="radio" checked id="radioSecond" name="radio">
        <label for="radioSecond">Filter text</label>
      </div>

    </div>
    <div class="font-text-large filters__buttons-checkbox">
      <input class="buttons-checkbox-input" type="checkbox" id="checkboxFirst">
      <label for="checkboxFirst">Filter</label>
      <button class="font-title-small filters__buttons-checkbox-btn">
        Nbm
      </button>
    </div>
    <div class="font-text-large filters__buttons-checkbox">
      <input class="buttons-checkbox-input" type="checkbox" id="checkboxSecond">
      <label for="checkboxSecond">Filter</label>
      <button class="font-title-small filters__buttons-checkbox-btn">
        Nbm
      </button>
    </div>
    <div class="font-text-large filters__buttons-checkbox-select">
      <div class="filters__button-checkbox">
        <input class="buttons-checkbox-input" checked type="checkbox" id="checkboxThird">
        <label for="checkboxThird">Filter</label>
        <button class="font-title-small filters__buttons-checkbox-btn">
          12
        </button>
      </div>
      <img src="/assets/images/separator.svg">
      <select class="font-title-small filters__buttons-select" name="" id="">
        <option value="">Select</option>
      </select>
    </div>
  </div>
</div>
