<div class="about-us container">
  <p class="font-text path"><a routerLink="/">Homepage /</a> About us</p>
  <div [@fadeIn] class="about-us__info">
    <div class="about-us__img">
      <img src="https://d3t95n9c6zzriw.cloudfront.net/aboutus/saatchiGrid@2x.jpg" alt="About us">
    </div>
    <div>
      <h2 class="title_bold">What Is Art Store</h2>
      <h3>
        THE BEST PLACE TO BUY ART YOU LOVE
      </h3>
      <p>
        Discover an unparalleled selection of art by artists from around the world to suit all budgets, styles, and
        spaces.
      </p>

      <h3>
        SUPPORT EMERGING ARTISTS
      </h3>
      <p>
        See new curator-approved artworks in special collections released weekly, or work with an art advisor to get
        personalized recommendations.
      </p>
      <h3>
        SUPPORT EMERGING ARTISTS
      </h3>
      <p>
        We value the talented artists we represent and pay them more on every sale than other galleries.
      </p>

      <h3>
        PEACE OF MIND
      </h3>
      <p>
        Our 7-day 100% money-back guarantee allows you to buy with confidence. If you’re not satisfied with your
        purchase,
        return it and we’ll help you find a work you love.
      </p>
    </div>
  </div>
</div>
