<aside class="aside-block">
  <div class="aside-block__categories">
    <p class="font-title aside-block__categories-title">Categories</p>
    <ul class="aside-block__categories-list font-text-large">
      <li class="aside-block__categories-list-item">
        Category name <span class="aside-block__categories-list-value">320</span>
      </li>
      <li class="aside-block__categories-list-item">
        Category name <span class="aside-block__categories-list-value">320</span>
      </li>
      <li class="aside-block__categories-list-item">
        Category name <span class="aside-block__categories-list-value">320</span>
      </li>
      <li class="aside-block__categories-list-item">
        Category name <span class="aside-block__categories-list-value">320</span>
      </li>
    </ul>
  </div>
  <div class="aside-block__brands">
    <p class="font-title aside-block__brands-title">Brands</p>
    <ul class="aside-block__brands-list font-text-large">
      <li class="aside-block__categories-brands-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxBrandsFirst">
        <label for="checkboxBrandsFirst">Filtre by brand item</label>
      </li>
      <li class="aside-block__categories-brands-item">
        <input class="buttons-checkbox-input" checked type="checkbox" id="checkboxBrandsSecond">
        <label for="checkboxBrandsSecond">Filtre by brand item</label>
      </li>
      <li class="aside-block__categories-brands-item">
        <input class="buttons-checkbox-input" checked type="checkbox" id="checkboxBrandsThird">
        <label for="checkboxBrandsThird">Filtre by brand item</label>
      </li>
      <li class="aside-block__categories-brands-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxBrandsForth">
        <label for="checkboxBrandsForth">Filtre by brand item</label>
      </li>
      <li class="aside-block__categories-brands-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxBrandsFifth">
        <label for="checkboxBrandsFifth">Filtre by brand item</label>
      </li>
    </ul>
  </div>
  <div class="aside-block__rating">
    <p class="font-title aside-block__rating-title">Rating</p>
    <ul class="aside-block__rating-list font-text-large">
      <li class="aside-block__categories-rating-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxRatingFirst">
        <label for="checkboxRatingFirst">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
        </label>
      </li>
      <li class="aside-block__categories-rating-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxRatingSecond">
        <label for="checkboxRatingSecond">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
        </label>
      </li>
      <li class="aside-block__categories-rating-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxRatingThird">
        <label for="checkboxRatingThird">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
        </label>
      </li>
      <li class="aside-block__categories-rating-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxRatingForth">
        <label for="checkboxRatingForth">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
        </label>
      </li>
      <li class="aside-block__categories-rating-item">
        <input class="buttons-checkbox-input" type="checkbox" id="checkboxRatingFifth">
        <label for="checkboxRatingFifth">
          <img src="/assets/images/star-filled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
          <img src="/assets/images/star-notFilled.svg" alt="" srcset="">
        </label>
      </li>
    </ul>
  </div>
  <div class="aside-block__price">
    <p class="font-title aside-block__price-title">Rating</p>
    <div class="aside-block__price-filter">
      <div class="aside-block__price-filter-range">
        <div class="aside-block__price-filter-range-scale">
          <div class="aside-block__price-filter-range-bar"></div>
        </div>
        <button class="aside-block__price-filter-range-handle-min"></button>
        <button class="aside-block__price-filter-range-handle-max"></button>
      </div>
      <div class="aside-block__price-filter-interval font-title-small">
        <div class="aside-block__price-filter-interval-input">
          <label>Min</label>
          <input class="input font-text-large" type="text" name="min-interval" placeholder="0">
        </div>
        <div class="aside-block__price-filter-interval-input">
          <label>Max</label>
          <input class="input font-text-large" type="text" name="max-interval" placeholder="000">
        </div>
      </div>
    </div>

  </div>
  <div class="aside-block__buttons">
    <button class="button button-green aside-block__button-apply">
      Apply
    </button>
    <button class="aside-block__button-reset">
      Reset
    </button>
  </div>
</aside>
